html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 16px;
  overflow: hidden;
}

/* menu */
#menu {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu li {
  margin: 0;
  padding: 0;
  cursor: pointer;
  float: left;
  margin-right: 10px;
  padding: 4px 7px;
  transition: all 0.3s ease-in-out;
  transform: translateZ(0);
}

#menu.gameandwatch .gameandwatch,
#menu.nes .nes,
#menu.gameboy .gameboy,
#menu.supernes .supernes,
#menu.nsixtyfour .nsixtyfour,
#menu.gamecube .gamecube,
#menu.wii .wii,
#menu.wiiu .wiiu,
#menu.switch .switch {
  background: #222;
  color: #fff;
  cursor: default;
}

/* whole page */

#container {
  transition: all 0.3s ease-in-out;
  transform: translateZ(0);
}

#container.gameboy {
  /* bg color */
  /* buttons #d72357 */
  background: #fff;
}

#container.supernes {
  /* bg color */
  background: #fff;
}

/* frame holder */
.frame {
   width: 800px;
   height: 800px;
   /* background: yellow; */
   position: relative;
}



#container .frame .layer {
  position: absolute;
  transition: all 0.3s ease-in-out;
  transform: translateZ(0);
  overflow: hidden;
}
#container .frame .layer-1 {
  z-index: 1;
}
#container .frame .layer-2 {
  z-index: 2;
}
#container .frame .layer-3 {
  z-index: 3;
}
#container .frame .layer-4 {
  z-index: 4;
}
#container .frame .layer-5 {
  z-index: 5;
}
#container .frame .layer-6 {
  z-index: 6;
}
#container .frame .layer-7 {
  z-index: 7;
}
#container .frame .layer-8 {
  z-index: 8;
}
#container .frame .layer-9 {
  z-index: 9;
}
#container .frame .detail-1 {
  z-index: 10;
}
#container .frame .detail-2 {
  z-index: 11;
}
#container .frame .detail-3 {
  z-index: 12;
}
#container .frame .detail-4 {
  z-index: 13;
}
#container .frame .detail-5 {
  z-index: 14;
}
#container .frame .detail-6 {
  z-index: 15;
}
#container .frame .detail-7 {
  z-index: 16;
}

/* --------
   consoles
   --------  */

/* super nes */

#container.supernes .frame .layer-1 {
  background: #d6d6d8;
  left: 150px;
  top: 100px;
  width: 500px;
  height: 600px;
  border-radius: 30px;
}

#container.supernes .frame .layer-2 {
  background: #d6d6d8;
  border: 4px solid #c0c0c0;
  left: 160px;
  width: 470px;
  height: 570px;
  top: 110px;
  border-radius: 25px;
  box-shadow:
    inset 0 4px 0 #eaeaea,
    0 4px 0 #eaeaea;
}

#container.supernes .frame .layer-3 {
  background: #c0c0c0;
  left: 220px;
  width: 4px;
  height: 575px;
  top: 110px;
}

#container.supernes .frame .layer-4 {
  background: #c0c0c0;
  left: 576px;
  width: 4px;
  height: 575px;
  top: 110px;
}

#container.supernes .frame .layer-5 {
  background: #8d8e93;
  left: 190px;
  top: 180px;
  width: 420px;
  height: 400px;
  border-radius: 20px;
  box-shadow:
    inset 0 4px 0 #a8a8ab,
    inset 0 -4px 0 #72737c;
}

#container.supernes .frame .layer-6 {
  background: #505156;
  border: 4px solid #d6d6d8;
  left: 236px;
  top: 480px;
  width: 60px;
  height: 70px;
  border-radius: 10px;
  box-shadow:
    inset 0 -29px 0 #505156,
    inset 0 -33px 0 #3a3b41,
    inset 0 33px 0 #505156,
    inset 0 37px 0 #72737c;
}

#container.supernes .frame .layer-7 {
  background: #8d8e93;
  border: 4px solid #505156;
  left: 326px;
  top: 480px;
  width: 140px;
  height: 70px;
  border-radius: 10px;
  box-shadow:
    inset 0 4px 0 #a8a8ab;
}

#container.supernes .frame .layer-8 {
  background: #505156;
  border: 4px solid #d6d6d8;
  left: 496px;
  top: 480px;
  width: 60px;
  height: 70px;
  border-radius: 10px;
}

#container.supernes .frame .layer-9 {
  background: #505156;
  left: 236px;
  top: 340px;
  width: 328px;
  height: 60px;
  border-radius: 20px;
  box-shadow:
    inset 0 -8px 0 #a8a8ab;
}

#container.supernes .frame .detail-1 {
  background: #c0c0c0;
  left: 246px;
  top: 620px;
  width: 120px;
  height: 10px;
}

#container.supernes .frame .detail-2 {
  background: #c0c0c0;
  left: 246px;
  top: 640px;
  width: 160px;
  height: 10px;
}

#container.supernes .frame .detail-3 {
  background: #c0c0c0;
  left: 510px;
  top: 640px;
  width: 30px;
  height: 10px;
  border-radius: 20px;
}

/* logo */

#container.supernes .frame .detail-4 {
  background: #40b747;
  left: 515px;
  top: 240px;
  width: 20px;
  height: 15px;
  border-radius: 50%;
}

#container.supernes .frame .detail-5 {
  background: #c02526;
  left: 545px;
  top: 240px;
  width: 20px;
  height: 15px;
  border-radius: 50%;
}

#container.supernes .frame .detail-6 {
  background: #0e61be;
  left: 530px;
  top: 225px;
  width: 20px;
  height: 15px;
  border-radius: 50%;
}

#container.supernes .frame .detail-7 {
  background: #e2be2c;
  left: 530px;
  top: 255px;
  width: 20px;
  height: 15px;
  border-radius: 50%;
}

/* gameboy */

#container.gameboy .frame .layer-1 {
  background: #d6d6d8;
  left: 240px;
  top: 140px;
  width: 320px;
  height: 520px;
  border-radius: 15px 15px 60px 15px;
}

#container.gameboy .frame .layer-2 {
  background: #c0c0c0;
  border: 0;
  left: 240px;
  width: 320px;
  height: 4px;
  top: 160px;
  box-shadow: 0 4px 0 #eaeaea;
}

#container.gameboy .frame .layer-3 {
  background: #c0c0c0;
  left: 260px;
  width: 4px;
  height: 20px;
  top: 140px;
}

#container.gameboy .frame .layer-4 {
  background: #c0c0c0;
  left: 536px;
  width: 4px;
  height: 20px;
  top: 140px;
}

#container.gameboy .frame .layer-5 {
  background: #79768a;
  left: 260px;
  width: 280px;
  height: 200px;
  top: 180px;
  border-radius: 10px 10px 40px 10px;
  box-shadow: 0 4px 0 #eaeaea;
}

#container.gameboy .frame .layer-9 {
  background: #9c9f51;
  left: 320px;
  top: 205px;
  width: 160px;
  height: 150px;
  box-shadow:
    inset 0 -4px 0 #908e9c;
}

#container.gameboy .frame .detail-4 {
  background: #d51a18;
  left: 280px;
  top: 260px;
  width: 10px;
  height: 10px;
  border-radius: 15px;
}

#container.gameboy .frame .layer-6 {
  background: #c0c0c0;
  border: 0;
  left: 260px;
  top: 400px;
  width: 180px;
  height: 10px;
}

#container.gameboy .frame .detail-5 {
  background: #c0c0c0;
  left: 424px;
  top: 455px;
  width: 120px;
  height: 60px;
  border-radius: 40px;
  transform: rotate(-30deg);
  box-shadow: 0 4px 0 #eaeaea;
}

#container.gameboy .frame .detail-6 {
  background: #d72357;
  left: 438px;
  top: 480px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

#container.gameboy .frame .detail-7 {
  background: #d72357;
  left: 490px;
  top: 450px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

#container.gameboy .frame .layer-7 {
  background: #c0c0c0;
  border: 0;
  left: 260px;
  top: 440px;
  width: 100px;
  height: 100px;
  border-radius: 60px;
  box-shadow: 0 4px 0 #eaeaea;
}

#container.gameboy .frame .detail-1 {
  background: #393139;
  border: 0;
  left: 270px;
  top: 475px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
}

#container.gameboy .frame .layer-8 {
  background: #393139;
  border: 0;
  left: 295px;
  top: 450px;
  width: 30px;
  height: 80px;
  border-radius: 5px;
}

#container.gameboy .frame .detail-2 {
  background: #c0c0c0;
  left: 340px;
  top: 570px;
  width: 40px;
  height: 10px;
  border-radius: 40px;
  transform: rotate(-30deg);
  box-shadow: 0 4px 0 #eaeaea;
}

#container.gameboy .frame .detail-3 {
  background: #c0c0c0;
  left: 390px;
  top: 570px;
  width: 40px;
  height: 10px;
  border-radius: 40px;
  transform: rotate(-30deg);
  box-shadow: 0 4px 0 #eaeaea;
}

/* nes */

#container.nes .frame .layer-1 {
  background: #d6d6d8;
  left: 80px;
  top: 140px;
  width: 640px;
  height: 300px;
}

#container.nes .frame .layer-2 {
  background: #c1c1c1;
  left: 80px;
  top: 440px;
  width: 640px;
  height: 100px;
  box-shadow: inset 0 4px 0 #ebebeb;
}

#container.nes .frame .layer-3 {
  background: #737172;
  left: 80px;
  top: 540px;
  width: 640px;
  height: 20px;
}

#container.nes .frame .layer-4 {
  background: #737172;
  left: 94px;
  top: 561px;
  width: 612px;
  height: 100px;
  transform: perspective(20px) rotateX(-1deg);
}

#container.nes .frame .layer-5 {
  background: #535351;
  left: 500px;
  top: 140px;
  width: 120px;
  height: 519px;
}

#container.nes .frame .detail-1 {
  background: #d6d6d8;
  box-shadow:
    inset 4px 0 0 #c1c1c1,
    inset -4px 0 0 #c1c1c1;
  left: 500px;
  top: 220px;
  width: 120px;
  height: 140px;
}

#container.nes .frame .layer-7 {
  background: #343434;
  left: 500px;
  top: 440px;
  width: 120px;
  height: 219px;
  box-shadow: inset 0 4px 0 #696969;
}

#container.nes .frame .layer-8 {
  background: transparent;
  border: 4px solid #979797;
  left: 160px;
  top: 360px;
  width: 332px;
  height: 150px;
}

#container.nes .frame .detail-4 {
  background: #c7333d;
  left: 180px;
  top: 467px;
  width: 80px;
  height: 10px;
}

#container.nes .frame .layer-6 {
  background: #c7333d;
  left: 180px;
  top: 483px;
  width: 140px;
  height: 10px;
}

/* led */
#container.nes .frame .detail-2 {
  background: #d51a18;
  left: 160px;
  top: 595px;
  width: 15px;
  height: 15px;
}

#container.nes .frame .detail-3 {
  background: transparent;
  border: 4px solid #4e4e4e;
  left: 190px;
  top: 587px;
  width: 60px;
  height: 20px;
}

#container.nes .frame .layer-9 {
  background: transparent;
  border: 4px solid #4e4e4e;
  left: 270px;
  top: 587px;
  width: 60px;
  height: 20px;
}

#container.nes .frame .detail-6 {
  background: transparent;
  border: 4px solid #141313;
  left: 520px;
  top: 565px;
  width: 30px;
  height: 60px;
  border-radius: 5px;
  box-shadow: inset 0 -4px 0 #535351;
}

#container.nes .frame .detail-7 {
  background: transparent;
  border: 4px solid #141313;
  left: 565px;
  top: 565px;
  width: 30px;
  height: 60px;
  border-radius: 5px;
  box-shadow: inset 0 -4px 0 #535351;
}

/* light on door */
#container.nes .frame .detail-5 {
  background: #d6d6d8;
  left: 160px;
  top: 518px;
  width: 340px;
  height: 4px;
}

/* gameandwatch */

#container.gameandwatch .frame .layer-1 {
  background: #84282f;
  left: 150px;
  top: 225px;
  width: 500px;
  height: 350px;
  border-radius: 10px;
}

#container.gameandwatch .frame .layer-2 {
  background: #b5b9aa;
  left: 170px;
  top: 245px;
  width: 460px;
  height: 310px;
  border-radius: 5px;
  box-shadow:
    inset 0 4px 0 #cfd2c8;
}

#container.gameandwatch .frame .layer-3 {
  background: transparent;
  border: 10px solid #969b88;
  left: 260px;
  top: 265px;
  width: 260px;
  height: 220px;
  border-radius: 7px;
}

#container.gameandwatch .frame .layer-4 {
  background: #ca411d;
  border: 4px solid #84282f;
  left: 195px;
  top: 450px;
  width: 40px;
  height: 40px;
  border-radius: 80px;
  box-shadow: inset 0 4px 0 #dc5539;
}

#container.gameandwatch .frame .layer-5 {
  background: #ca411d;
  border: 4px solid #84282f;
  left: 557px;
  top: 450px;
  width: 40px;
  height: 40px;
  border-radius: 80px;
  box-shadow: inset 0 4px 0 #dc5539;
}

#container.gameandwatch .frame .layer-6 {
  background: #969b88;
  left: 190px;
  top: 275px;
  width: 50px;
  height: 43px;
  border-radius: 5px;
}

#container.gameandwatch .frame .layer-7 {
  background: #969b88;
  left: 560px;
  top: 285px;
  width: 50px;
  height: 16px;
}

/* Label btn left */
#container.gameandwatch .frame .layer-8 {
  background: #969b88;
  left: 198px;
  top: 430px;
  width: 42px;
  height: 8px;
}

/* screen */
#container.gameandwatch .frame .layer-9 {
  background: #797951;
  border: 6px solid #84282f;
  left: 290px;
  top: 300px;
  width: 208px;
  height: 158px;
  border-radius: 5px;
  box-shadow:
    /* inset 0 -4px 0 #ad474f, */
    inset 10px 0 0 #5e5e38,
    inset 0 10px 0 #5e5e38;
}

/* Label btn right */
#container.gameandwatch .frame .detail-1 {
  background: #969b88;
  left: 560px;
  top: 430px;
  width: 42px;
  height: 8px;
}

#container.gameandwatch .frame .detail-2 {
  background: #2f312e;
  left: 310px;
  top: 520px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

/* btns */

#container.gameandwatch .frame .detail-3 {
  background: #8f8965;
  border: 4px solid #84282f;
  left: 397px;
  top: 515px;
  width: 25px;
  height: 12px;
  border-radius: 10px;
}

#container.gameandwatch .frame .detail-4 {
  background: #8f8965;
  border: 4px solid #84282f;
  left: 437px;
  top: 515px;
  width: 25px;
  height: 12px;
  border-radius: 10px;
}

#container.gameandwatch .frame .detail-5 {
  background: #8f8965;
  border: 4px solid #84282f;
  left: 477px;
  top: 515px;
  width: 25px;
  height: 12px;
  border-radius: 10px;
}

#container.gameandwatch .frame .detail-6 {
  background: #969b88;
  left: 309px;
  top: 477px;
  width: 12px;
  height: 10px;
}

#container.gameandwatch .frame .detail-7 {
  background: #969b88;
  left: 397px;
  top: 480px;
  width: 113px;
  height: 4px;
}

#container.gameandwatch .frame .detail-7 span {
  background: transparent;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  display: block;
  position: absolute;
}

/* nintendo 64 */

#container.nsixtyfour .frame .layer-1 {
  background: #494949;
  left: 100px;
  top: 150px;
  width: 600px;
  height: 490px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  /*
  border-bottom-left-radius: 50% 30px;
  border-bottom-right-radius: 50% 30px;
  */
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transform: perspective(100px) rotateX(1deg);
}

#container.nsixtyfour .frame .layer-2 {
  background: #333030;
  left: 60px;
  top: 540px;
  width: 140px;
  height: 140px;
  border-radius: 140px;
  z-index: -1;
}

#container.nsixtyfour .frame .layer-3 {
  background: #333030;
  left: 599px;
  top: 530px;
  width: 140px;
  height: 140px;
  border-radius: 140px;
  z-index: -1;
}

#container.nsixtyfour .frame .layer-4 {
  background: #333030;
  left: 82px;
  top: 479px;
  width: 636px;
  height: 115px;
  transform: perspective(16px) rotateX(1deg);
  z-index: -1;
}

#container.nsixtyfour .frame .layer-5 {
  background: #494949;
  border: 4px solid #333030;
  left: 230px;
  top: 510px;
  width: 40px;
  height: 90px;
  border-radius: 100px;
  box-shadow:
    inset 0 27px 0 #333030,
    inset 0 31px 0 #656565,
    0 4px 0 #656565;
}

#container.nsixtyfour .frame .layer-6 {
  background: #494949;
  border: 4px solid #333030;
  left: 521px;
  top: 510px;
  width: 40px;
  height: 90px;
  border-radius: 100px;
  box-shadow:
    inset 0 27px 0 #333030,
    inset 0 31px 0 #656565,
    0 4px 0 #656565;
}

#container.nsixtyfour .frame .layer-7 {
  background: #656565;
  left: 250px;
  top: 191px;
  width: 300px;
  height: 320px;
  transform: perspective(20px) rotateX(-1deg);
  border-bottom-left-radius: 50% 30px;
  border-bottom-right-radius: 50% 30px;
  /* box-shadow: 0 4px 0 #818181; */
}

#container.nsixtyfour .frame .layer-9 {
  background: #d6d6d8;
  border: 4px solid #333030;
  left: 275px;
  top: 306px;
  width: 250px;
  height: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow:
    inset 0 8px 0 #333030;
    /*,
    inset 0 22px 0 #d6d6d8,
    inset 0 26px 0 #656565,
    inset 0 28px 0 #333030;*/
}

#container.nsixtyfour .frame .detail-1 {
  background: #d6d6d8;
  left: 230px;
  top: 615px;
  width: 60px;
  height: 50px;
  border-radius: 10px;
  z-index: -1;
}

#container.nsixtyfour .frame .detail-2 {
  background: #d6d6d8;
  left: 310px;
  top: 615px;
  width: 60px;
  height: 50px;
  border-radius: 10px;
  z-index: -1;
}

#container.nsixtyfour .frame .detail-3 {
  background: #d6d6d8;
  left: 430px;
  top: 615px;
  width: 60px;
  height: 50px;
  border-radius: 10px;
  z-index: -1;
}

#container.nsixtyfour .frame .detail-4 {
  background: #d6d6d8;
  left: 510px;
  top: 615px;
  width: 60px;
  height: 50px;
  border-radius: 10px;
  z-index: -1;
}

#container.nsixtyfour .frame .detail-5 {
  background: #494949;
  border: 4px solid #333030;
  left: 335px;
  top: 530px;
  width: 120px;
  height: 80px;
  border-radius: 10px;
  box-shadow:
    inset 0 4px 0 #656565,
    0 4px 0 #656565;
}

#container.nsixtyfour .frame .detail-6 {
  background: #494949;
  left: 359px;
  top: 230px;
  width: 80px;
  height: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 0 #818181;
}

#container.nsixtyfour .frame .detail-7 {
  background: #333030;
  left: 380px;
  top: 530px;
  width: 40px;
  height: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 0 #656565;
}

#container.nsixtyfour .frame .layer-8 {
  background: transparent;
  left: 200px;
  top: 125px;
  width: 400px;
  height: 300px;
}

/* gamecube */

#container.gamecube .frame .layer-1 {
  background: #6b5ead;
  left: 200px;
  top: 125px;
  width: 400px;
  height: 300px;
  border-radius: 10px 10px 0 0;
  box-shadow: inset 0 -4px 0 #8074bf;
}


#container.gamecube .frame .layer-2 {
  background: #423c76;
  left: 200px;
  top: 425px;
  width: 400px;
  height: 250px;
  border-radius: 0 0 10px 10px;
}

#container.gamecube .frame .layer-4 {
  background: #c9cacc;
  left: 250px;
  top: 475px;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  box-shadow: inset 0 6px 0 #e2e3e4;
}

#container.gamecube .frame .layer-3 {
  background: #1f1b3b;
  left: 200px;
  top: 617px;
  width: 400px;
  height: 4px;
}

#container.gamecube .frame .layer-5 {
  background: #0d0d0d;
  left: 275px;
  top: 505px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 4px 0 #e2e3e4;
}

#container.gamecube .frame .layer-6 {
  background: #0d0d0d;
  left: 345px;
  top: 505px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 4px 0 #e2e3e4;
}

#container.gamecube .frame .layer-7 {
  background: #0d0d0d;
  left: 415px;
  top: 505px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 4px 0 #e2e3e4;
}

#container.gamecube .frame .layer-8 {
  background: #0d0d0d;
  left: 485px;
  top: 505px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 4px 0 #e2e3e4;
}

#container.gamecube .frame .detail-3 {
  border: 4px solid #a5a8af;
  left: 275px;
  top: 565px;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 0 #e2e3e4;
}

#container.gamecube .frame .detail-1 {
  border: 4px solid #a5a8af;
  left: 415px;
  top: 565px;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 0 #e2e3e4;
}

#container.gamecube .frame .detail-2 {
  background: transparent;
  left: 250px;
  top: 125px;
  width: 300px;
  height: 260px;
  border-bottom-left-radius: 50% 20px;
  border-bottom-right-radius: 50% 20px;
  overflow: hidden;
  box-shadow:
    inset 4px 0 0 #423c76,
    inset -4px 0 0 #423c76,
    inset 0 -4px 0 #423c76;
}

#container.gamecube .frame .detail-2::after {
  content: "";
  display: block;
  background: #423c76;
  width: 50px;
  height: 50px;
  left: -25px;
  top: 50px;
  position: absolute;
  border-radius: 50px;
}

#container.gamecube .frame .detail-2::before {
  content: "";
  display: block;
  background: #423c76;
  width: 50px;
  height: 50px;
  left: -25px;
  top: 220px;
  position: absolute;
  border-radius: 50px;
}

#container.gamecube .frame .detail-2 span {
  display: block;
  background: #423c76;
  width: 50px;
  height: 50px;
  left: 275px;
  top: 220px;
  position: absolute;
  border-radius: 50px;
}

#container.gamecube .frame .layer-9 {
  background: #1e1e1f;
  left: 300px;
  top: 165px;
  width: 200px;
  height: 170px;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
}

#container.gamecube .frame .detail-4 {
  background: #e2e3e4;
  border: 5px solid #6b5ead;
  left: 230px;
  top: 179px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
}

#container.gamecube .frame .detail-5 {
  background: #6b5ead;
  border: 5px solid #6b5ead;
  left: 230px;
  top: 349px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  box-shadow:
    inset 4px 0 0 #423c76,
    inset -4px 0 0 #423c76,
    inset 0 4px 0 #423c76,
    inset 0 -4px 0 #423c76;
}

#container.gamecube .frame .detail-6 {
  background: #6b5ead;
  border: 5px solid #6b5ead;
  left: 529px;
  top: 349px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  box-shadow:
    inset 4px 0 0 #423c76,
    inset -4px 0 0 #423c76,
    inset 0 4px 0 #423c76,
    inset 0 -4px 0 #423c76;
}

#container.gamecube .frame .detail-7 {
  background: transparent;
  left: 529px;
  top: 349px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
}

/*
#container.gamecube .frame .detail-7 {
  background: #1e1e1f;
  left: 250px;
  top: 660px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  overflow: visible;
}

#container.gamecube .frame .detail-7 span {
  background: #1e1e1f;
  left: 276px;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  display: block;
  position: absolute;
}
*/

/* wii */

#container.wii .frame .layer-1 {
  background: #eeeeee;
  left: 100px;
  top: 190px;
  width: 600px;
  height: 250px;
  border-radius: 5px 5px 0 0;
  box-shadow:
    inset 0 16px 0 #eee,
    inset 0 20px 0 #d8d8da,
    inset 0 -4px 0 #fff,
    inset 0 -16px 0 #eee,
    inset 0 -20px 0 #d8d8da
    ;
}

#container.wii .frame .layer-2 {
  background: #d8d8da;
  left: 100px;
  top: 440px;
  width: 600px;
  height: 170px;
  border-radius: 0 0 5px 5px;
  box-shadow:
    inset 0 -28px 0 #aeb1b6,
    0 4px 0 #7f858e
    ;
}

#container.wii .frame .layer-3 {
  background: #d8d8da;
  left: 110px;
  top: 210px;
  width: 4px;
  height: 210px;
}

#container.wii .frame .layer-4 {
  background: #d8d8da;
  left: 686px;
  top: 210px;
  width: 4px;
  height: 210px;
}

#container.wii .frame .layer-5 {
  background: #87d1ec;
  left: 150px;
  top: 480px;
  width: 500px;
  height: 35px;
  border-radius: 20px;
  box-shadow:
    inset 0 4px #3394b5,
    0 4px 0 #fff
    ;
}

#container.wii .frame .layer-6 {
  background: #d8d8da;
  left: 150px;
  top: 550px;
  width: 20px;
  height: 40px;
  border: 4px solid #979ca4;
  border-radius: 5px;
  box-shadow:
      inset 0 4px 0 #fff,
      inset 0 -12px 0 #aeb1b6
      ;
}

#container.wii .frame .layer-7 {
  background: #d8d8da;
  left: 200px;
  top: 550px;
  width: 12px;
  height: 40px;
  border: 4px solid #979ca4;
  border-radius: 5px;
  box-shadow:
      inset 0 4px 0 #fff,
      inset 0 -12px 0 #aeb1b6
      ;
}

#container.wii .frame .detail-1 {
  background: #d8d8da;
  left: 280px;
  top: 550px;
  width: 232px;
  height: 40px;
  border: 4px solid #979ca4;
  border-radius: 5px;
  box-shadow:
      inset 0 4px 0 #979ca4,
      inset 0 -4px 0 #d8d8da,
      inset 0 -16px 0 #aeb1b6
      ;
}

#container.wii .frame .detail-2 {
  background: #d8d8da;
  left: 622px;
  top: 550px;
  width: 20px;
  height: 40px;
  border: 4px solid #979ca4;
  border-radius: 5px;
  box-shadow:
      inset 0 4px 0 #fff,
      inset 0 -12px 0 #aeb1b6
      ;
}

#container.wii .frame .detail-3 {
  background: #aeb1b6;
  left: 550px;
  top: 550px;
  width: 45px;
  height: 20px;
}

#container.wii .frame .detail-4 {
  background: #aeb1b6;
  left: 150px;
  top: 540px;
  width: 28px;
  height: 4px;
}

#container.wii .frame .detail-5 {
  background: #aeb1b6;
  left: 200px;
  top: 540px;
  width: 20px;
  height: 4px;
}

#container.wii .frame .detail-6 {
  background: #aeb1b6;
  left: 622px;
  top: 540px;
  width: 28px;
  height: 4px;
}

#container.wii .frame .detail-7 {
  background: #283142;
  left: 158px;
  top: 492px;
  width: 484px;
  height: 15px;
  border-radius: 20px;
}

/* wii u */

#container.wiiu .frame .layer-1 {
  background: #494949;
  left: 50px;
  top: 205px;
  width: 700px;
  height: 390px;
  border-radius: 100px;
  box-shadow:
    inset 0 -12px 0 #333030;
}

/* stick L */
#container.wiiu .frame .layer-2 {
  background: #333030;
  left: 75px;
  top: 260px;
  width: 76px;
  height: 76px;
  border-radius: 76px;
  box-shadow:
    inset 0 -4px 0 #656565;
}

#container.wiiu .frame .layer-2::before {
  content: "";
  position: absolute;
  display: block;
  background: #494949;
  left: 13px;
  top: 11px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow:
    inset 0 4px 0 #656565;
}

/* stick R */
#container.wiiu .frame .layer-3 {
  background: #333030;
  left: 649px;
  top: 260px;
  width: 76px;
  height: 76px;
  border-radius: 76px;
  box-shadow:
    inset 0 -4px 0 #656565;
}

#container.wiiu .frame .layer-3::before {
  content: "";
  position: absolute;
  display: block;
  background: #494949;
  left: 13px;
  top: 11px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow:
    inset 0 4px 0 #656565;
}

/* dirpad */

#container.wiiu .frame .layer-5 {
  background: #333030;
  left: 130px;
  top: 360px;
  width: 25px;
  height: 65px;
  border-radius: 3px;
}

#container.wiiu .frame .layer-5::before {
  content: "";
  position: absolute;
  display: block;
  background: #494949;
  left: 4px;
  top: 4px;
  width: 17px;
  height: 57px;
  border-radius: 2px;
  box-shadow:
    inset 0 4px 0 #656565;
}

#container.wiiu .frame .layer-4 {
  background: #333030;
  left: 110px;
  top: 380px;
  width: 65px;
  height: 25px;
  border-radius: 3px;
}

#container.wiiu .frame .layer-4::before {
  content: "";
  position: absolute;
  display: block;
  background: #494949;
  left: 4px;
  top: 4px;
  width: 57px;
  height: 17px;
  border-radius: 2px;
  box-shadow:
    inset 0 4px 0 #656565;
}

#container.wiiu .frame .layer-6 {
  background:#494949 ; /*  */
  left: 130px;
  top: 384px;
  width: 25px;
  height: 17px;
}

/* screen */
#container.wiiu .frame .layer-7 {
  background: #aeadb3;
  left: 200px;
  top: 272px;
  width: 400px;
  height: 232px;
  border-radius: 5px;
  border: 8px solid #656565;
  box-shadow:
    inset 0 4px 0 #333030,
    0 4px 0 #333030,
    4px 0 0 #494949
    /* 0 4px 0 #666666 */
    ;
}

#container.wiiu .frame .detail-1 {
  background: #494949;
  left: 300px;
  top: 220px;
  width: 192px;
  height: 20px;
  border: 4px solid #333030;
  border-radius: 15px;
  box-shadow:
    0 4px 0 #656565;
}

#container.wiiu .frame .detail-1::after {
  content: "";
  position: absolute;
  display: block;
  background: #9b9ca1;
  left: 90px;
  top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  box-shadow:
    inset 0 4px 0 #848690;
}

#container.wiiu .frame .detail-2 {
  background: transparent;
  left: 640px;
  top: 440px;
  width: 28px;
  height: 60px;
}

#container.wiiu .frame .detail-2::before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: #494949;
  border-radius: 20px;
  border: 4px solid #333030;
  box-shadow:
    inset 0 4px 0 #656565;
}

#container.wiiu .frame .detail-2::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: #494949;
  border-radius: 20px;
  border: 4px solid #333030;
  box-shadow:
    inset 0 4px 0 #656565;
}
